//Light theme
body[data-theme="light"] {
  --bg-primary: hsl(0, 0%, 98%);
  --bg-elements: white;
  --c-text-pri: hsl(200, 15%, 8%);
  --c-text-sec: hsl(0, 0%, 52%);
}

//Dark theme
body[data-theme="dark"] {
  --bg-primary: hsl(207, 26%, 17%);
  --bg-elements: hsl(209, 23%, 22%);
  --c-text-pri: white;
  --c-text-sec: white;
}
