body {
  background-color: #202c37;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  background-color: #202c37;
  margin: auto;
  max-width: 1440px;
}

.App header {
  max-width: 1440px;
  height: 80px;
  background-color: #2b3945;
  padding: 0 80px;
  font-weight: 800;
  font-size: 28px;
  color: white;
  border-radius: 0 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App header .theme-toggler {
  font-size: 18px;
  font-weight: 600;
}

.App header .theme-toggler div {
  padding-left: 10px;
  display: inline;
}

.App main {
  max-width: 1440px;
  background-color: #202c37;
  padding: 50px 80px;
}

.App main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App main nav .search {
  background-color: #2b3945;
  border-radius: 5px;
  width: 500px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App main nav .search div {
  padding-left: 30px;
}

.App main nav .search input {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  background-color: #2b3945;
  font-weight: 300;
  outline: none;
  padding-left: 30px;
  color: white;
}

.App main nav .search input::-webkit-input-placeholder {
  color: white;
}

.App main nav .search input:-ms-input-placeholder {
  color: white;
}

.App main nav .search input::-ms-input-placeholder {
  color: white;
}

.App main nav .search input::placeholder {
  color: white;
}

.App main nav .region {
  width: 200px;
  height: 56px;
  background-color: #2b3945;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding-left: 18px;
}

.App main nav .region option {
  background-color: #2b3945;
  margin-top: 5px;
  outline: none;
  border: none;
}

.App main .countries-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 75px;
  margin-top: 50px;
}

.App main .countries-container .country {
  min-width: 265px;
  height: 335px;
  color: white;
  background-color: #2b3945;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.App main .countries-container .country .country-description {
  padding: 0 25px;
}

.App main .countries-container .country .country-description .country-description-name {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 800;
}

.App main .countries-container .country .country-description li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 25px;
}

.App main .countries-container .country .country-description li div:first-child {
  font-weight: 300;
}

.App main .countries-container .country .country-description li div:first-child::before {
  content: "\2002";
}

.App main .countries-container .country img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */