@import "vars";

html {
  margin-left: calc(100vw - 100%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  background-color: $bg-primary;

  .App {
    margin: auto;
    max-width: 1440px;

    header {
      width: 1440px;
      height: 80px;
      background-color: $bg-elements;
      color: $c-text-pri;
      padding: 0 80px;
      font-weight: 800;
      font-size: 28px;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        text-decoration: "none";
        color: $c-text-pri;
        &:hover {
          text-decoration: underline;
        }
      }

      .theme-toggler {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;

        div {
          padding-left: 10px;
          display: inline;
        }
      }
    }

    main {
      max-width: 1440px;
      padding: 50px 80px;

      nav {
        display: flex;
        justify-content: space-between;

        .search {
          background-color: $bg-elements;

          border-radius: 5px;
          width: 500px;
          height: 56px;
          display: flex;
          align-items: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

          div {
            padding-left: 30px;
          }

          input {
            border: none;
            font-family: "Nunito Sans", sans-serif;
            font-weight: 300;
            outline: none;
            padding-left: 30px;
            color: $c-text-sec;
            background-color: $bg-elements;
            &::placeholder {
              color: $c-text-sec;
            }
          }
        }

        .region {
          color: $c-text-pri;
          background-color: $bg-elements;
          width: 200px;
          height: 56px;
          outline: none;
          border: none;
          border-radius: 5px;
          padding-left: 18px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

          option {
            background-color: $bg-elements;
            margin-top: 5px;
            outline: none;
            border: none;
          }
        }
      }

      .countries-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 75px;
        margin-top: 50px;

        .country {
          color: $c-text-pri;
          background-color: $bg-elements;
          width: 265px;
          height: 335px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          overflow: hidden;
          text-decoration: none;

          .country-description {
            padding: 0 25px;

            .country-description-name {
              padding: 15px 0;
              font-size: 18px;
              font-weight: 800;
            }

            li {
              display: flex;
              font-weight: 600;
              line-height: 25px;

              div:first-child {
                font-weight: 300;

                &::before {
                  content: "\2002";
                }
              }
            }
          }

          img {
            width: 100%;
            height: 165px;
            object-fit: cover;
            overflow: hidden;
          }
        }
      }

      .detail-country-container {
        .btn-back {
          color: $c-text-pri;
          background-color: $bg-elements;

          margin-top: 30px;
          width: 135px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }

        .detail-country-data-wrapper {
          color: $c-text-pri;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 80px;

          img {
            width: 560px;
            max-height: 400px;
            object-fit: contain;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          }

          .detail-country-data {
            width: 560px;
            display: flex;
            flex-direction: column;

            section {
              display: flex;
              margin-top: 20px;

              ul {
                display: flex;
                flex-direction: column;

                &:last-child {
                  margin-left: 100px;
                }

                li {
                  display: flex;
                  font-weight: 600;
                  line-height: 25px;
                  margin-top: 5px;

                  div {
                    font-weight: 300;
                    &::before {
                      content: "\2002";
                    }
                  }

                  .country-languages {
                    display: flex;
                  }
                }
              }
            }

            .border-countries {
              margin-top: 60px;
              display: flex;

              .border-countries-links {
                display: flex;

                .border-country-btn {
                  color: $c-text-pri;
                  background-color: $bg-elements;
                  width: 100px;
                  height: 30px;
                  text-align: center;
                  padding-top: 3px;
                  margin-left: 10px;
                  border-radius: 5px;
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                }
              }

              div:first-child {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
