body[data-theme="light"] {
  --bg-primary: hsl(0, 0%, 98%);
  --bg-elements: white;
  --c-text-pri: hsl(200, 15%, 8%);
  --c-text-sec: hsl(0, 0%, 52%);
}

body[data-theme="dark"] {
  --bg-primary: hsl(207, 26%, 17%);
  --bg-elements: hsl(209, 23%, 22%);
  --c-text-pri: white;
  --c-text-sec: white;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  background-color: var(--bg-primary);
}

body .App header {
  margin: auto;
  height: 80px;
  background-color: var(--bg-elements);
  color: var(--c-text-pri);
  font-weight: 800;
  font-size: 28px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App header .title-wrapper {
  margin: auto;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  body .App header .title-wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App header .title-wrapper {
    padding: 0 55px;
  }
}

body .App header .title-wrapper .title {
  -webkit-text-decoration: "none";
          text-decoration: "none";
  color: var(--c-text-pri);
}

body .App header .title-wrapper .title:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  body .App header .title-wrapper .title {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App header .title-wrapper .title {
    font-size: 18px;
  }
}

body .App header .theme-toggler {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

body .App header .theme-toggler div {
  padding-left: 10px;
  display: inline;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App header .theme-toggler div {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  body .App header .theme-toggler div {
    display: none;
  }
}

body .App main {
  max-width: 1440px;
  padding: 50px 80px;
  margin: auto;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main {
    padding: 25px 55px;
  }
}

@media screen and (max-width: 480px) {
  body .App main {
    padding: 25px 15px;
  }
}

body .App main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

body .App main nav .search {
  background-color: var(--bg-elements);
  border-radius: 5px;
  width: 500px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

body .App main nav .search div {
  padding-left: 30px;
}

body .App main nav .search input {
  height: 40px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  outline: none;
  padding-left: 30px;
  color: var(--c-text-sec);
  background-color: var(--bg-elements);
}

body .App main nav .search input::-webkit-input-placeholder {
  color: var(--c-text-sec);
}

body .App main nav .search input:-ms-input-placeholder {
  color: var(--c-text-sec);
}

body .App main nav .search input::-ms-input-placeholder {
  color: var(--c-text-sec);
}

body .App main nav .search input::placeholder {
  color: var(--c-text-sec);
}

body .App main nav .region {
  position: relative;
  color: var(--c-text-pri);
  background-color: var(--bg-elements);
  width: 200px;
  height: 56px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 18px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

body .App main nav .region option {
  position: absolute;
  top: 100px;
  background-color: var(--bg-elements);
  outline: 0px;
  border: 0px;
}

body .App main .countries-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 73px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  body .App main .countries-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 35px;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .App main .countries-container .country {
  color: var(--c-text-pri);
  background-color: var(--bg-elements);
  width: 265px;
  height: 335px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

body .App main .countries-container .country .country-description {
  padding: 0 25px;
}

body .App main .countries-container .country .country-description .country-description-name {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 800;
}

body .App main .countries-container .country .country-description li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 25px;
}

body .App main .countries-container .country .country-description li div:first-child {
  font-weight: 300;
}

body .App main .countries-container .country .country-description li div:first-child::before {
  content: "\2002";
}

body .App main .countries-container .country img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

body .App main .info-results {
  color: var(--c-text-pri);
  font-size: 30px;
  padding-top: 60px;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container {
    margin: 0 13px;
  }
}

body .App main .detail-country-container .btn-back {
  color: var(--c-text-pri);
  background-color: var(--bg-elements);
  margin-top: 30px;
  width: 135px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

body .App main .detail-country-container .detail-country-data-wrapper {
  color: var(--c-text-pri);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  body .App main .detail-country-container .detail-country-data-wrapper img {
    width: 50%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data {
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data {
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data {
    margin-left: 50px;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul:last-child {
  margin-left: 100px;
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul:last-child {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul:last-child {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul:last-child {
    margin-top: 50px;
    margin-left: 0;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 25px;
  margin-top: 5px;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul li div {
  font-weight: 300;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul li div:last-child {
  padding-left: 5px;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data section ul li .country-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-title {
  width: 150px;
  font-weight: 600;
  padding-top: 12px;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-links .border-country-btn {
  color: var(--c-text-pri);
  background-color: var(--bg-elements);
  height: 30px;
  text-align: center;
  padding: 5px 15px;
  margin: 10px 0 0 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 480px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-links .border-country-btn {
    margin: 10px 10px 0 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-links .border-country-btn {
    margin: 10px 10px 0 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-links .border-country-btn {
    margin: 10px 10px 0 0;
  }
}

body .App main .detail-country-container .detail-country-data-wrapper .detail-country-data .border-countries .border-countries-links .border-country-none {
  color: var(--c-text-pri);
  text-align: center;
  padding: 12px 0;
}
/*# sourceMappingURL=style.css.map */